.main
{
   
    /* height: 73vh; */
    height: auto;
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    padding-top: 20vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;

}
.gify{
    flex: 2;
    display: flex;
    justify-content: center;
    margin-left: 4rem;
}
.gify img{
    width: 30%;
    height: 50%;
    position: fixed;

}
.resultsArea
{
    flex: 2;
}