.resultnav{
    background-color: rgb(238, 190, 101);
    opacity: 100%;
    padding: 4rem 10%;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    z-index: 5;
    position: fixed;
}
.searchbar
{
    margin-left: 2rem;
    size: 20rem;
}
.image
{
    width: 5rem;
    opacity: 100%;
}


@media screen and (max-width: 1300px) {
    .nav {
        padding: 5rem 6%;
    }
}

@media screen and (max-width: 1140px) {
    
}
@media screen and (max-width: 500px) {
    
}

